## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_results_df = pd.merge(mouse_metadata, study_results,
                                 how='outer', on='Mouse ID')

# Display the data table for preview
combined_results_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [3]:
# Checking the number of mice.
combined_results_df["Mouse ID"].unique()
mouse_count = len(combined_results_df["Mouse ID"].unique())
mouse_count

249

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicates_df = combined_results_df[combined_results_df.duplicated(["Mouse ID", "Timepoint"])]
duplicates_df.head(2)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0

In [5]:
#Set index for main_df
combined_results_df_index = combined_results_df.set_index("Mouse ID")
combined_results_df_index.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Optional: Get all the data for the duplicate mouse ID. 
combined_results_df_index.loc["g989",]
data_for_dup = combined_results_df_index.loc["g989",]
data_for_dup

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,48.786801,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,51.745156,0
g989,Propriva,Female,21,26,10,49.880528,0
g989,Propriva,Female,21,26,15,51.325852,1
g989,Propriva,Female,21,26,15,53.442020,0
g989,Propriva,Female,21,26,20,55.326122,1
g989,Propriva,Female,21,26,20,54.657650,1
g989,Propriva,Female,21,26,25,56.045564,1
g989,Propriva,Female,21,26,30,59.082294,1
g989,Propriva,Female,21,26,35,62.570880,2

In [12]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = combined_results_df_index.drop("g989")
clean_df.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1

In [17]:
#Reset index for clean df
clean_df.reset_index(inplace = True)

In [18]:
# Checking the number of mice in the clean DataFrame.
clean_df["Mouse ID"].unique()
new_mouse_count = len(clean_df["Mouse ID"].unique())
new_mouse_count

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [22]:
#Create a dataframe for summary
df_summary = clean_df
df_summary.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [32]:
#Create groupby datafram on Drug Regimen
df_by_reg = clean_df
df_by_reg.count().head(10)

Mouse ID              1880
Drug Regimen          1880
Sex                   1880
Age_months            1880
Weight (g)            1880
Timepoint             1880
Tumor Volume (mm3)    1880
Metastatic Sites      1880
dtype: int64

In [ ]:
#Define tumor volume values

In [35]:
tumor_vol_by_reg_index = df_by_reg.set_index("Drug Regimen")
tumor_vol_by_reg_index.head()

,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,,,
Ramicane,k403,Male,21,16,0,45.000000,0
Ramicane,k403,Male,21,16,5,38.825898,0
Ramicane,k403,Male,21,16,10,35.014271,1
Ramicane,k403,Male,21,16,15,34.223992,1
Ramicane,k403,Male,21,16,20,32.997729,1

In [38]:
#Get list for tumor volume
tum_vol_list = tumor_vol_by_reg_index["Tumor Volume (mm3)"]
tum_vol_list

Drug Regimen
Ramicane    45.000000
Ramicane    38.825898
Ramicane    35.014271
Ramicane    34.223992
Ramicane    32.997729
              ...
Naftisol    63.145652
Naftisol    65.841013
Naftisol    69.176246
Naftisol    70.314904
Naftisol    73.867845
Name: Tumor Volume (mm3), Length: 1880, dtype: float64

In [45]:
all_regimens = clean_df["Drug Regimen"]
all_regimens = clean_df["Drug Regimen"].unique()
all_regimens

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [65]:
#Get Average
tumor_vol_avg =[]
for val in all_regimens:
    avg_temp_df = clean_df[clean_df["Drug Regimen"]==val][["Drug Regimen", "Tumor Volume (mm3)"]]
    tumor_vol_avg.append(avg_temp_df.mean())
tumor_vol_avg

[Tumor Volume (mm3)    40.216745
 dtype: float64,
 Tumor Volume (mm3)    40.675741
 dtype: float64,
 Tumor Volume (mm3)    52.884795
 dtype: float64,
 Tumor Volume (mm3)    54.033581
 dtype: float64,
 Tumor Volume (mm3)    52.591172
 dtype: float64,
 Tumor Volume (mm3)    54.233149
 dtype: float64,
 Tumor Volume (mm3)    53.236507
 dtype: float64,
 Tumor Volume (mm3)    55.235638
 dtype: float64,
 Tumor Volume (mm3)    52.32093
 dtype: float64,
 Tumor Volume (mm3)    54.331565
 dtype: float64]

In [111]:
#Average
avg_vol_by_reg = pd.DataFrame(tumor_vol_avg, index=all_regimens)
avg_vol_by_reg

           Tumor Volume (mm3)
Ramicane            40.216745
Capomulin           40.675741
Infubinol           52.884795
Placebo             54.033581
Ceftamin            52.591172
Stelasyn            54.233149
Zoniferol           53.236507
Ketapril            55.235638
Propriva            52.320930
Naftisol            54.331565

In [73]:
#Get Median
tumor_vol_median =[]
for val in all_regimens:
    median_temp_df = clean_df[clean_df["Drug Regimen"]==val][["Drug Regimen", "Tumor Volume (mm3)"]]
    tumor_vol_median.append(median_temp_df.median())
tumor_vol_median

[Tumor Volume (mm3)    40.673236
 dtype: float64,
 Tumor Volume (mm3)    41.557809
 dtype: float64,
 Tumor Volume (mm3)    51.820584
 dtype: float64,
 Tumor Volume (mm3)    52.288934
 dtype: float64,
 Tumor Volume (mm3)    51.776157
 dtype: float64,
 Tumor Volume (mm3)    52.431737
 dtype: float64,
 Tumor Volume (mm3)    51.818479
 dtype: float64,
 Tumor Volume (mm3)    53.698743
 dtype: float64,
 Tumor Volume (mm3)    50.446266
 dtype: float64,
 Tumor Volume (mm3)    52.509285
 dtype: float64]

In [74]:
#Median
median_vol_by_reg = pd.DataFrame(tumor_vol_median, index=all_regimens)
median_vol_by_reg

           Tumor Volume (mm3)
Ramicane            40.673236
Capomulin           41.557809
Infubinol           51.820584
Placebo             52.288934
Ceftamin            51.776157
Stelasyn            52.431737
Zoniferol           51.818479
Ketapril            53.698743
Propriva            50.446266
Naftisol            52.509285

In [76]:
#Get Variance
tumor_vol_var =[]
for val in all_regimens:
    var_temp_df = clean_df[clean_df["Drug Regimen"]==val][["Drug Regimen", "Tumor Volume (mm3)"]]
    tumor_vol_var.append(var_temp_df.var())
tumor_vol_var

[Tumor Volume (mm3)    23.486704
 dtype: float64,
 Tumor Volume (mm3)    24.947764
 dtype: float64,
 Tumor Volume (mm3)    43.128684
 dtype: float64,
 Tumor Volume (mm3)    61.168083
 dtype: float64,
 Tumor Volume (mm3)    39.290177
 dtype: float64,
 Tumor Volume (mm3)    59.450562
 dtype: float64,
 Tumor Volume (mm3)    48.533355
 dtype: float64,
 Tumor Volume (mm3)    68.553577
 dtype: float64,
 Tumor Volume (mm3)    43.852013
 dtype: float64,
 Tumor Volume (mm3)    66.173479
 dtype: float64]

In [81]:
#Variance
var_vol_by_reg = pd.DataFrame(tumor_vol_var, index=all_regimens)
var_vol_by_reg

           Tumor Volume (mm3)
Ramicane            23.486704
Capomulin           24.947764
Infubinol           43.128684
Placebo             61.168083
Ceftamin            39.290177
Stelasyn            59.450562
Zoniferol           48.533355
Ketapril            68.553577
Propriva            43.852013
Naftisol            66.173479

In [83]:
#Get Standard Deviation
tumor_vol_std =[]
for val in all_regimens:
    std_temp_df = clean_df[clean_df["Drug Regimen"]==val][["Drug Regimen", "Tumor Volume (mm3)"]]
    tumor_vol_std.append(std_temp_df.std())
tumor_vol_std

[Tumor Volume (mm3)    4.846308
 dtype: float64,
 Tumor Volume (mm3)    4.994774
 dtype: float64,
 Tumor Volume (mm3)    6.567243
 dtype: float64,
 Tumor Volume (mm3)    7.821003
 dtype: float64,
 Tumor Volume (mm3)    6.268188
 dtype: float64,
 Tumor Volume (mm3)    7.710419
 dtype: float64,
 Tumor Volume (mm3)    6.966589
 dtype: float64,
 Tumor Volume (mm3)    8.279709
 dtype: float64,
 Tumor Volume (mm3)    6.622085
 dtype: float64,
 Tumor Volume (mm3)    8.134708
 dtype: float64]

In [84]:
#Standard Deviation
std_vol_by_reg = pd.DataFrame(tumor_vol_std, index=all_regimens)
std_vol_by_reg

           Tumor Volume (mm3)
Ramicane             4.846308
Capomulin            4.994774
Infubinol            6.567243
Placebo              7.821003
Ceftamin             6.268188
Stelasyn             7.710419
Zoniferol            6.966589
Ketapril             8.279709
Propriva             6.622085
Naftisol             8.134708

In [86]:
#Get SEM
tumor_vol_sem =[]
for val in all_regimens:
    sem_temp_df = clean_df[clean_df["Drug Regimen"]==val][["Drug Regimen", "Tumor Volume (mm3)"]]
    tumor_vol_sem.append(sem_temp_df.sem())
tumor_vol_sem

[Tumor Volume (mm3)    0.320955
 dtype: float64,
 Tumor Volume (mm3)    0.329346
 dtype: float64,
 Tumor Volume (mm3)    0.492236
 dtype: float64,
 Tumor Volume (mm3)    0.581331
 dtype: float64,
 Tumor Volume (mm3)    0.469821
 dtype: float64,
 Tumor Volume (mm3)    0.573111
 dtype: float64,
 Tumor Volume (mm3)    0.516398
 dtype: float64,
 Tumor Volume (mm3)    0.60386
 dtype: float64,
 Tumor Volume (mm3)    0.544332
 dtype: float64,
 Tumor Volume (mm3)    0.596466
 dtype: float64]

In [87]:
#SEM
sem_vol_by_reg = pd.DataFrame(tumor_vol_std, index=all_regimens)
sem_vol_by_reg

           Tumor Volume (mm3)
Ramicane             4.846308
Capomulin            4.994774
Infubinol            6.567243
Placebo              7.821003
Ceftamin             6.268188
Stelasyn             7.710419
Zoniferol            6.966589
Ketapril             8.279709
Propriva             6.622085
Naftisol             8.134708

In [114]:
# Assemble the resulting series into a single summary dataframe.
summary_df = pd.DataFrame(
             {    "Mean": avg_vol_by_reg["Tumor Volume (mm3)"],
                 "Median": median_vol_by_reg["Tumor Volume (mm3)"],
                 "Variance": var_vol_by_reg["Tumor Volume (mm3)"],
                 "Standard Deviation": std_vol_by_reg["Tumor Volume (mm3)"],
                 "SEM": sem_vol_by_reg["Tumor Volume (mm3)"]
                 
             } 
)
summary_df

                Mean     Median   Variance  Standard Deviation       SEM
Ramicane   40.216745  40.673236  23.486704            4.846308  4.846308
Capomulin  40.675741  41.557809  24.947764            4.994774  4.994774
Infubinol  52.884795  51.820584  43.128684            6.567243  6.567243
Placebo    54.033581  52.288934  61.168083            7.821003  7.821003
Ceftamin   52.591172  51.776157  39.290177            6.268188  6.268188
Stelasyn   54.233149  52.431737  59.450562            7.710419  7.710419
Zoniferol  53.236507  51.818479  48.533355            6.966589  6.966589
Ketapril   55.235638  53.698743  68.553577            8.279709  8.279709
Propriva   52.320930  50.446266  43.852013            6.622085  6.622085
Naftisol   54.331565  52.509285  66.173479            8.134708  8.134708

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

In [115]:
df_regimens_group.agg({"Tumor Volume (mm3)":["mean","median","var","std","sem"]})

NameError: name 'df_regimens_group' is not defined

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen